@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Days One', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(-90deg,#5de0e6, #004aad);
}

#main {
    width: 100%;
    padding: 20px;
    text-align: center;
    
}

#order {
    display: none;
    text-align: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    color: aliceblue;
    text-shadow: 3px 3px #00357a;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    border: 0;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: aliceblue;
    text-shadow: 2px 2px #00357a;
    background: #99c5ff;
}

button:hover {
    background: #99c5ff;
}